<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body ng-controller="chatCtrl">
    <div class="container ">
      <div class="chat-body">
        <div class="row no-gutters">
          <div
            class="chat-info col-12 d-flex align-items-center justify-content-center"
          >
            <h1 class="chat-title">AngularJS Chat</h1>
          </div>

          <!-- <button type="button" class="btn btn-default" ng-click="openModal('sm','.modal-parent')">Open modal!</button> -->
        </div>

        <div class="row no-gutters">
          <div class=" col-12 col-md-3 ">
            <div
              class="search-block d-flex justify-content-space-between align-items-center"
            >
              <a
                href="#"
                class="profile-link"
                ng-click="openUserModal('sm','.modal-parent', user.id)"
              ></a>
              <div class="user-info">
                <img
                  src="{{ user.iconUrl }}"
                  alt=""
                  class="user-icon"
                  ng-click="showUserIcon()"
                />
                <a href="" class="user-name" ng-click="showUserProfile()">{{
                  user.name
                }}</a>
                <span class="user-email">{{ user.email }}</span>
              </div>
              <input
                type="text"
                class="search-input"
                ng-model="searchFriendName"
                placeholder="Search"
              />
            </div>
            <ul
              class="friends-list "
              data-simplebar
              data-simplebar-auto-hide="false"
            >
              <li
                class="friend-item d-flex"
                id="{{ friend.userId }}"
                ng-click="setChat(friend.chatId)"
                ng-class = "{'active': friend.chatId == activeChatId}"
                ng-repeat="friend in friends | filter:{name:searchFriendName}"
              >
                <img src="{{ friend.iconUrl }}" alt="" class="friend-icon" />
                <span class="message-title">{{ friend.name }}</span>
              </li>
            </ul>
          </div>

          <div
            class="message-container col-12 col-md-9"
            ng-switch
            on="isChatActive"
          >
            <div
              class="message-window d-flex flex-column"
              ng-switch-when="true"
            >
              <div class="chat-user d-flex">
                <div class="chat-user-icon-block">
                  <img
                    src="{{ currentChatUser.iconUrl }}"
                    alt=""
                    class="chat-user-icon"
                    ng-click="openUserModal('sm','.modal-parent', currentChatUser.userId)"
                  />
                </div>
                <div class="chat-user-info-block">
                  <a
                    href=""
                    class="chat-user-name"
                    ng-click="openUserModal('sm','.modal-parent', currentChatUser.userId)"
                    >{{ currentChatUser.name }}</a
                  >
                  <span class="chat-user-email">{{
                    currentChatUser.email
                  }}</span>
                </div>
              </div>
              <ul
                class="message-list"
                data-simplebar
                scroll="currentMessagesList"
              >
                <li
                  class="message-item"
                  ng-repeat="message in currentMessagesList | orderBy:'date'"
                  ng-class="{ 'personal ': user.id == message.senderId }"
                >
                  <div class="message-body">
                    <p class="message-content">{{ message.content }}</p>
                    <span
                      class="message-status "
                      ng-class="{'sended': message.status == 'sended' }"
                    ></span>
                    <span class="message-date">
                      {{ message.date | date: "dd.MM.yyyy  HH:mm" }}</span
                    >
                  </div>
                </li>
              </ul>
              <div class="message-form mt-auto">
                <form
                  ng-submit="sendMessage()"
                  class="d-flex align-items-center justify-content-between"
                >
                  <input
                    id="msg-input"
                    autocomplete="off"
                    ng-model="messageContent.value"
                    class="message-input flex-fill"
                    type="text"
                    placeholder="Type your message ..."
                  />
                  <label for="send-btn" class="send-btn">
                    <input
                      id="send-btn"
                      class="send-input"
                      type="submit"
                      value="Send"
                    />
                  </label>
                </form>
              </div>
            </div>
            <div class="message-window empty" ng-switch-default>
              <p>Please select chat to start messaging</p>
            </div>
          </div>
          <ui-view></ui-view>
        </div>
      </div>
    </div>
    <div class="modal-parent"></div>

    <script src="./main.js"></script>
    <script type="text/ng-template" id="modalContent.html">
      <div class="modal-header justify-content-center">
          <h3 class="modal-title" id="modal-title">{{$ctrl.user.name}}</h3>
      </div>
      <div class="modal-body" id="modal-body">
          <div class="modal-user-info d-flex flex-column align-items-center">
              <img src="{{$ctrl.user.iconUrl}}" alt="{{$ctrl.user.name}}" class="modal-user-icon">
              <span class="modal-user-email">Email: {{$ctrl.user.email}}</span>
          </div>
      </div>
      <div class="modal-footer justify-content-center">
          <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Cancel</button>
      </div>
    </script>
  </body>
</html>
